
*{margin: 0;
}


header {
    background-color: white; 
    margin-bottom: 10px;
    z-index: 1;
    margin: bottom 10px; 
    position:fixed;
    width: 100%;
    margin-left: 10px;
    margin-right:30px;   
}
body {background-color: #b2d1c9;
    margin-left: 30px;
    margin-right:30px;}


    h1,h2, h3 {color:white;

}

footer{
    background-color:white
    
}


main{
    padding-top: 100px;
}

