* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  background-color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  border: 3px solid deepskyblue;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

p {
  color: whitesmoke;
  background-color: deepskyblue;
  width: 200px;
  text-align: center;
  font-size: 0.9em;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  
}

h1 {
  margin: 80px auto 60px auto;
  display: flex;
  justify-content: center;
}

input {
  background-color: whitesmoke;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-top: 12px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.form-fields {
    padding-bottom: 16px;
}

input::placeholder {
  width: 200px;
}

.condition-div {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 8px;
  max-height: 20px;
  width: 50%;
}

.buttom  {
    color: whitesmoke;
    background-color: black;
    margin-top: 24px;
    width: 80px;
    padding: 8px;
    margin-top: 80px;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}