@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans&family=Raleway&display=swap");

:root {
  --primary-font: Raleway;
  --primary-color: rgb(191,147,13);
  --secondary-font: Montserrat;
  --secondary-color: rgb(248,245,235);
  --terciary-font: 'PT Sans';
  --terciary-color: rgb(248,249,191);
  
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  
}

html {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  height: 50%;
  width: 20%;
  padding: 20px;
  background-color: white;
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.6);

}

main {
  background-color: white;
  width: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.logo-header {
  width: 200px;
  margin-bottom: 12px;
}

h1 {
  font-size: 28px;
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  margin: 8px 0;
}

.form-line {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

input {
  border-radius: 8px;
  width: 170px;
  height: 24px;
}

input::placeholder {
  font-size: 16px;
}

.icon {
  height: 18px;
  width: 18px;
  margin-top: 4px;
}

.checkbox {
  height: 16px;
  width: 16px;
  margin: 0px;
}

.agree {
  font-size: 14px;
  margin-bottom: 50px;

}

button {
  color: white;
  background-color: var(--primary-color);
  padding: 4px 20px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  display: flex;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:focus {
  border-bottom: 1px solid;
  background: var(--secondary-color);
}

a:hover {
  border-bottom: 1px solid;
  background: var(--secondary-color);
}

a:active {
  background: var(--secondary-color);
}

/*************************************** HOME ***************************************/
.home-html, .home-body {
  height: 100%;
}

.home-html {
  margin: 0;
}

.home-body {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 0;
}

.home-header{
  height: 10%;
  width: 100%;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.home-logo {
  height: 50px;
  margin: 20px 100px 16px 24px;
  padding-right: 40px;
}

.home-menu {
  gap: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.home-main {
  background-color: var(--secondary-color);
  height: 85%;
  width: 100%;
}

.home-h1 {
  padding: 16px 0 8px 0;
}

.home-img {
  height: 50%;
  border-radius: 24px;
  padding: 12px 0 4px 0;
}

.home-text {
  margin: 16px 120px;
}

section {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: ;
}

.home-sections {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  gap: 20px;
}

.home-title-post {
  font-size: 20px;
  font-family: var(--terciary-font);
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

.home-img-post {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 4px;
}

.home-test-post {
  width: 30%;
  display: flex;
  align-items: stretch;
  padding-bottom: 12px;
}

.home-footer {
  padding-top: 20px;
  height: 5%;
}



/*
form {
  border: 3px solid deepskyblue;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

p {
  color: whitesmoke;
  background-color: deepskyblue;
  width: 200px;
  text-align: center;
  font-size: 0.9em;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
}

h1 {
  margin: 80px auto 60px auto;
  display: flex;
  justify-content: center;
}

input {
  background-color: whitesmoke;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-top: 12px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  outline-color: deepskyblue;
}

.form-fields {
  padding-bottom: 16px;
}

input::placeholder {
  width: 200px;
}

.condition-div {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 8px;
  max-height: 20px;
  width: 50%;
}

.buttom {
  color: whitesmoke;
  background-color: black;
  margin-top: 24px;
  width: 80px;
  padding: 8px;
  margin-top: 80px;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
