:root {
  --main-color: red;

  --primari-pading: 5rem;
}



html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: whitesmoke;
  
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  font-family: monospace;
  font-size: 15px;
  font-weight: bolder;


}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid lightgray 5px;
  border-radius: 10px;
  padding: 2rem;
  background-color:lightgray;
  font-family: monospace;
  font-weight: bolder;

  
  
  
}
form img {
  filter: drop-shadow(0 0 0.75rem rgb(7, 0, 2));
}

input {
  border: 1px solid black;
  box-shadow: 10px 5px 5px rgb(10, 0, 0);
  border-block-end-width: thick;
  writing-mode: horizontal-tb;
  padding: 0.1rem;
  border-width: 0 0 thin 0;
  font-family: monospace;
  padding: 5px;
  border-radius: 20px;
  

  
}
button:hover{
  cursor: pointer;
}

button {
  padding: 5px;
  background-color: rgb(200, 212, 28);
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bolder;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}


nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;

  width: 100%;
  position: fixed;
  
}

nav a {
  font-family: monospace;
  color: #000000;
  text-decoration: none;
  font-size: 30px;

  
}


nav button {
  color: gray;
}

ul {
  list-style-type: none;
  padding: 20px;
  padding-top: 150px;
 
}


li {
  background-color: lightgray;
  width: 40ch;
  margin: 1em 0;
  padding: 20px;
  
  border: solid black 1px;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgb(10, 10, 30);


}
li button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  

}
 

strong {
  display: block;
  text-align: right;
  color : lightslategray
  
}

.profile-panel{
  padding-top: 200px;
  
  
  
}
footer  {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: lightgray;

  
}

footer button {
  background-color: whitesmoke;
  color :black;
  font-size: 20px;
  border-radius: 50px;
  font-family: monospace;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  
}
button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */}


p {
  color: black;
}

.feedback {
  color: red;
}

.feedback-success{
  color : yellowgreen
}

.feedback-error {
  color:red
}
.off {
  display: none;
}
