@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primary-font-color: black;
  --secondary-font-color: rgb(19, 160, 19);

  --primary-bg-color:  rgb(206, 127, 235); 
  --secondary-bg-color: rgb(222, 182, 237);
  --third-bg-color:rgb(234, 217, 239);

  --primary-form-color:rgba(211,141,236,1);
  --secondary-form-color:rgba(146,145,241,1);
}


* {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body{
  margin: 0;
}

/*************************************** REGISTER ***************************************/ 
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register{
  height: 100%;
  background: radial-gradient(circle, var(--primary-form-color) 0%,var(--secondary-form-color) 100%);
  gap: 10px;
}
  
h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--primary-font-color);
}

.logo-form{
  text-align: center;
  width: 20%;
}

form{
  width: 18%;
  min-width: 200px;
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border: 1.5px solid white;
  background-color: white;
  box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.179);
}
  
.form-inner{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  font-size: 0.9rem;
}
  
.input-text{
  height: 25px;
  width: 100%;
  border-width: 0 0 0 0;
  box-shadow: 0 0 3px gray;
}
  
.input-text:focus, input:focus{
  outline-color: var(--secondary-form-color);
}

.agree {
  font-size: 0.8rem;
}
  
.checkbox {
  display: flex;
  gap: 10px;
}

button {
  background-color: var(--secondary-form-color);
  color: white;
  text-transform: uppercase;
  border-radius: 6px;
  border-color: white;
  padding: 4px 8px;
  font-weight: bold;
  align-items: center;
}

button:hover{
  cursor: pointer;  
}

/*************************************** LOGIN ***************************************/ 
.login{
  height: 100%;
  gap: 10px;
  background: radial-gradient(circle, var(--primary-form-color) 0%,var(--secondary-form-color) 100%);
}

.or{
  width: 25%;
  text-align: center;
  padding: 25px;
  font-size: 0.85rem;
}

.option{
  margin-left: 2px;
  text-decoration: none;
  color: white;
}
/*************************************** HOME ***************************************/ 

header{
 width: 100%;
 display: flex;
 background-color: var(--primary-bg-color);
 position:fixed;
}

.logo{
  width: 15%;
  text-align: center;
}

.pluma{
  width: 30%;
}

.menu {
  display: flex;
  width: 85%;
  align-items: center;
  text-transform: uppercase;
  justify-content: end;
  gap:30px;
  padding-right: 30px;
  font-size: 1.2rem;
} 
  
a{
  list-style-type: none;
  text-decoration: none;
  }

ul {
  list-style-type: none;
  padding: 10px;
}

.home-main{
  padding: 60px 0px;
}

li {
  width: 40ch;
  margin: 1em 0;
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  border: 1.5px solid white;
  background-color: white;
  box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.179);
  align-items: flex-end;
}

li > p{
  color: black;
  width: 100%;
}

.deleteButton{
  width: fit-content;
}

strong{
 display: flex;
 justify-content: flex-end;
 width: 100%;
}

footer{
background-color: var(--third-bg-color);
padding: 10px 0;
font-size: 1rem;
text-align: center;
position: fixed;
width: 100%;
display: flex;
justify-content: center;
bottom: 0;
}

.off{
  display: none;
}

.add-button{
  background-color: var(--primary-bg-color);
  color: white;
  text-transform: uppercase;
  border-radius: 6px;
  border-color: rgb(234, 217, 239);
  padding: 4px 8px;
  font-weight: bold;
  align-items: center;
  font-size: 1.8rem;
}

.profile-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-password-panel{
  margin-top: 100px;
  height: 300px;
  width: 225px;
  gap: 30px;
}

.update-password-panel input{
  width: 85%;
  height: 25px;
  border-width: 0 0 0 0;
  box-shadow: 0 0 3px gray;
}

.newPasswordMessage{
  margin-top: 20px;
 
}

  
.update-password-panel input:focus{
  outline-color: var(--secondary-form-color);
}


 /*************************************** RECETAS ***************************************/ 
 /* .receta{
  text-align:center;
 }

.receta-title{
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 1.5rem;
  text-decoration: underline;
 }

.receta-text{
  font-size: 1.5rem;
  margin-top: 4rem;
  } */