*{
    margin:0;
    
}
body{
    
    margin-bottom: 100px;
    background-color: lightgrey;
    height: 100%;
}
.container{
    display: flex;
}
.alineado{
    align-items: left;
    padding-left: 0;

}
ul{
    list-style-type: none;
    padding-left: 0;
}
.cabeza{
   
    flex:2;
    background-color: whitesmoke;
}
.cuerpo{
    border-left: 2px solid black;
}

header{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;

    

}
section{
    padding-left: 50px;
}
a{
    text-decoration: none;
    color:darkorange
}
img{
    width: 250px;
    height: 250px;
    margin-top: 50px;
}
main{
    margin: 0 150px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
text-decoration: underline;
color: darkblue;
margin-bottom: 15px;
margin-top: 15px;
}
h3{
    gap: 50px;
    margin-bottom: 15px;
}
dt{
    text-decoration: underline;
    gap:90px;
   
}
dd{
    margin-top: 15px;
    
    
}
